html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

canvas {
    padding: 0;
    margin: 0;
}

.tv {
	width: 100%;
	height: 100%;
	background: #7A411B;
}

.tv-inner {
	margin: 50px;
}

.container.crt-enabled {
  	background: #121010;
  	width: 512px;
  	height: 512px;
  	margin-top: 10px;
  	position: relative;
  	overflow: hidden;
}
.container.crt-enabled::after {
  	content: " ";
  	display: block;
  	position: absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	background: rgba(18, 16, 16, 0.1);
  	opacity: 0;
  	z-index: 2;
  	pointer-events: none;
  	animation: flicker 0.15s infinite;
}
.container.crt-enabled::before {
  	content: " ";
  	display: block;
  	position: absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
 	background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  	z-index: 2;
  	background-size: 100% 2px, 3px 100%;
  	pointer-events: none;
}

@keyframes flicker {
  	0% {
		opacity: 0.56134;
  	}
  	5% {
		opacity: 0.81562;
  	}
  	10% {
		opacity: 0.23544;
  	}
  	15% {
		opacity: 0.85121;
  	}
  	20% {
		opacity: 0.75636;
  	}
  	25% {
		opacity: 0.93842;
  	}
  	30% {
		opacity: 0.96645;
  	}
  	35% {
		opacity: 0.85174;
  	}
  	40% {
		opacity: 0.7222;
  	}
  	45% {
		opacity: 0.46217;
  	}
  	50% {
		opacity: 0.6004;
  	}
  	55% {
		opacity: 0.22033;
  	}
  	60% {
		opacity: 0.20325;
  	}
  	65% {
		opacity: 0.8749;
  	}
  	70% {
		opacity: 0.64603;
  	}
  	75% {
		opacity: 0.29318;
  	}
  	80% {
		opacity: 0.59147;
  	}
  	85% {
		opacity: 0.98804;
  	}
  	90% {
		opacity: 0.64741;
  	}
  	95% {
		opacity: 0.88215;
  	}
  	100% {
		opacity: 0.00285;
  	}
}