doctype html
html
	head
		meta(charset='UTF-8')
		title SMB
			  
		link(rel='stylesheet', href='/assets/css/styles.css')
	body
		center
			.container
				div#container
	script(src='/assets/js/p5.min.js')
	script(src='/assets/js/scenemanager.js')
	script(src='/assets/js/p5.sound.min.js')
	script(src='/assets/js/p5.play.fix_by_islemaster.js')
	script(src='/assets/js/player.js')
	script(src='/assets/js/entity.js')
	script(src='/assets/js/item.js')
	script(src='/assets/js/block.js')
	script(src='/assets/js/functions.js')
	script(src='/assets/js/worlds/1/1.js')
	script(src='/assets/js/script.js')